body {
  font-family: Calibri;
  font-style: italic;
  font-size: 25px;
}

/* Background style light and dark */
/***********************************/
.my-bg-light {
  background-color: #fff;
  color: #2D303B;
  padding: 10px;
}

.my-bg-dark {
  background-color: #2D303B;
  color: #fff;
  padding: 10px
}

.my-section { 
  padding-top: 10px;
  padding-bottom: 20px;
}

.my-first-section {
  padding-top: 90px;
}

#my-skills img {
  width:75px;
}

.my-profile {
  width: 200px;
  border-radius: 50%;
}

.my-section-title {
  font-weight: bold;
  font-size: 45px;
  text-align: center;
}

.my-section-subtitle {
  font-weight: bold;
  font-size: 35px;
  text-decoration: underline;
}

.my-link {
  color: #FFFFFF;;
}
.my-link:hover {
  color: #55D7F3;
}

.my-button {
  background-color: #0082A9;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #FFFFFF;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 100px;
}

.my-button:hover {
  background-color: #FFFFFF;
  color: #0082A9;
  border-color: #0082A9;
}
 .my-button:hover .my-link {
   color: #55D7F3;
 }

.my-carrer-left {
  border-right: 2px #fff solid;
  text-align: right;
  margin-bottom: 5px;
}

.my-carrer-right {
  border-left: 1px #fff solid;
  text-align: left;
  margin-bottom: 5px;
}

/*
* Media query for display my carer in one column for the small screen. 
*/
@media screen and (max-width:768px) {
  .my-carrer-left {
    border-left: 3px #fff solid;
    border-right: none;
    text-align: left;
  }
  .my-carrer-right {
    border-left: 3px #fff solid;
    border-right: none;
    text-align: left;
  }
}

@media screen and (max-width:992px) {
  .my-button {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}