body {
  font-family: Calibri;
  font-style: italic;
}

.my-bg-light {
  background-color: #FFFFFF
}

.my-bg-dark {
  background-color: #2D303B;
}

my-link {
  color: red;
}
my-link:hover {
  color: #55D7F3;
}

.my-button {
  background-color: #0082A9;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 20px;
  border: 3px solid #FFFFFF;
}

.my-button:hover {
  background-color: #FFFFFF;
  color: #0082A9;
  font-weight: bold;
  border-radius: 20px;
  border: 3px solid #0082A9;
}
